      - {{SERVICE_NAME}}_test_static:${{{ENV_PREFIX}}_INSTALL_PATH:?{{ENV_PREFIX}}_INSTALL_PATH is required}/static:ro,z
      - {{SERVICE_NAME}}_test_documents:${{{ENV_PREFIX}}_INSTALL_PATH:?{{ENV_PREFIX}}_INSTALL_PATH is required}/documents:ro,z
