      - {{SERVICE_NAME}}_static:${{{ENV_PREFIX}}_INSTALL_PATH:?{{ENV_PREFIX}}_INSTALL_PATH is required}/static:ro,z
      - ${{{ENV_PREFIX}}_HOST_DATA_PATH:?{{ENV_PREFIX}}_HOST_DATA_PATH is required}/documents:${{{ENV_PREFIX}}_INSTALL_PATH:?{{ENV_PREFIX}}_INSTALL_PATH is required}/documents:ro,Z
