# Copy to conf/production_settings.txt, protect with chmod 600, and replace every
# CHANGE_ME. Do not commit the resulting production file.
INSTALL_PATH='{{INSTALL_PATH}}'
PROJECT_MODULE='{{PROJECT_MODULE}}'
PYTHON_BIN_PATH='python{{PYTHON_VERSION}}'

APP_UID='{{APP_UID}}'
APP_GID='{{APP_GID}}'
APP_PORT='{{APP_PORT}}'
HOST_DATA_PATH='{{HOST_DATA_PATH}}'
HOST_LOG_PATH='{{HOST_LOG_PATH}}'

DB_HOST='CHANGE_ME'
DB_PORT='3306'
DB_NAME='CHANGE_ME'
DB_USER='CHANGE_ME'
DB_PASSWORD='CHANGE_ME'

DJANGO_DEBUG='false'
DJANGO_SECRET_KEY='CHANGE_ME'
DJANGO_ALLOWED_HOSTS='CHANGE_ME'
DJANGO_CSRF_TRUSTED_ORIGINS='https://CHANGE_ME'

EMAIL_HOST='CHANGE_ME'
EMAIL_PORT='587'
EMAIL_HOST_USER='CHANGE_ME'
EMAIL_HOST_PASSWORD='CHANGE_ME'
EMAIL_USE_TLS='true'

WEB_CONCURRENCY='2'
GUNICORN_THREADS='2'
GUNICORN_TIMEOUT='120'
GUNICORN_KEEPALIVE='5'
APP_START_WAIT_TIMEOUT_SECONDS='100'
