      KEYCLOAK_ADMIN_API_BASE_URL: ${{{ENV_PREFIX}}_KEYCLOAK_ADMIN_API_BASE_URL:?{{ENV_PREFIX}}_KEYCLOAK_ADMIN_API_BASE_URL is required}
      KEYCLOAK_ADMIN_API_REALM: ${{{ENV_PREFIX}}_KEYCLOAK_ADMIN_API_REALM:?{{ENV_PREFIX}}_KEYCLOAK_ADMIN_API_REALM is required}
      KEYCLOAK_ADMIN_API_TOKEN_REALM: ${{{ENV_PREFIX}}_KEYCLOAK_ADMIN_API_TOKEN_REALM:-master}
      KEYCLOAK_ADMIN_API_CLIENT_ID: ${{{ENV_PREFIX}}_KEYCLOAK_ADMIN_API_CLIENT_ID:-admin-cli}
      KEYCLOAK_ADMIN_API_CLIENT_SECRET: ${{{ENV_PREFIX}}_KEYCLOAK_ADMIN_API_CLIENT_SECRET:-}
      KEYCLOAK_ADMIN_API_USERNAME: ${{{ENV_PREFIX}}_KEYCLOAK_ADMIN_API_USERNAME:-}
      KEYCLOAK_ADMIN_API_PASSWORD: ${{{ENV_PREFIX}}_KEYCLOAK_ADMIN_API_PASSWORD:-}
      KEYCLOAK_ADMIN_API_TIMEOUT_SECONDS: ${{{ENV_PREFIX}}_KEYCLOAK_ADMIN_API_TIMEOUT_SECONDS:-10}
      KEYCLOAK_ADMIN_API_SEND_ACTION_EMAILS: ${{{ENV_PREFIX}}_KEYCLOAK_ADMIN_API_SEND_ACTION_EMAILS:-true}
      KEYCLOAK_ADMIN_API_ACTION_EMAIL_REDIRECT_URI: ${{{ENV_PREFIX}}_KEYCLOAK_ADMIN_API_ACTION_EMAIL_REDIRECT_URI:-}
