      OIDC_AUTH_REQUIRED: ${{{ENV_PREFIX}}_OIDC_AUTH_REQUIRED:?{{ENV_PREFIX}}_OIDC_AUTH_REQUIRED is required}
      OIDC_ISSUER: ${{{ENV_PREFIX}}_OIDC_ISSUER:?{{ENV_PREFIX}}_OIDC_ISSUER is required}
      OIDC_JWKS_URL: ${{{ENV_PREFIX}}_OIDC_JWKS_URL:?{{ENV_PREFIX}}_OIDC_JWKS_URL is required}
      OIDC_AUDIENCE: ${{{ENV_PREFIX}}_OIDC_AUDIENCE:?{{ENV_PREFIX}}_OIDC_AUDIENCE is required}
      OIDC_CLIENT_ID: ${{{ENV_PREFIX}}_OIDC_CLIENT_ID:?{{ENV_PREFIX}}_OIDC_CLIENT_ID is required}
      OIDC_JWKS_CACHE_TTL_SECONDS: ${{{ENV_PREFIX}}_OIDC_JWKS_CACHE_TTL_SECONDS:-300}
      OIDC_JWKS_TIMEOUT_SECONDS: ${{{ENV_PREFIX}}_OIDC_JWKS_TIMEOUT_SECONDS:-5}
