      OIDC_AUTH_REQUIRED: ${{{ENV_PREFIX}}_OIDC_AUTH_REQUIRED:-false}
      OIDC_ISSUER: ${{{ENV_PREFIX}}_OIDC_ISSUER:-}
      OIDC_JWKS_URL: ${{{ENV_PREFIX}}_OIDC_JWKS_URL:-}
      OIDC_AUDIENCE: ${{{ENV_PREFIX}}_OIDC_AUDIENCE:-}
      OIDC_CLIENT_ID: ${{{ENV_PREFIX}}_OIDC_CLIENT_ID:-}
      OIDC_JWKS_CACHE_TTL_SECONDS: ${{{ENV_PREFIX}}_OIDC_JWKS_CACHE_TTL_SECONDS:-300}
      OIDC_JWKS_TIMEOUT_SECONDS: ${{{ENV_PREFIX}}_OIDC_JWKS_TIMEOUT_SECONDS:-5}
