### Optional Django API behavior
# Generated because this Django service declares "API": true.
API_CORS_ALLOWED_ORIGINS='http://127.0.0.1:3000,http://localhost:3000'
API_THROTTLE_RATE='500/hour'
API_DOCS_REQUIRE_STAFF='true'
