# Keycloak add-on settings. Keys are prefixed with KEYCLOAK_ for Compose.
DB_NAME='keycloak'
DB_USER='keycloak'
DB_PASSWORD='CHANGE_ME'
DB_ROOT_PASSWORD='CHANGE_ME'
PUBLIC_URL='https://CHANGE_ME_KEYCLOAK_DNS'
PORT='8081'
ADMIN='admin'
ADMIN_PASSWORD='CHANGE_ME'
IMPORT_PATH='./keycloak/tmp-import'
