DB_NAME='keycloak'
DB_USER='keycloak'
DB_PASSWORD='keycloak_password'
DB_ROOT_PASSWORD='root'
DB_PORT_HOST='6607'
PUBLIC_URL='http://127.0.0.1:8081'
PORT='8081'
ADMIN='admin'
ADMIN_PASSWORD='admin'
IMPORT_PATH='./keycloak/tmp-import'
